@import url("http://batsman.bleacherreport.com/css/atomic.css");
body, h1, h2, h3, h4, h5, h6, p, div {
  text-align: center;
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  font-family: 'Effra', Helvetica, Arial, sans-serif !important;

  text-align: center;
  border-bottom: 1px solid #777777;
}

.newpoll {
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 5px;
  font-weight: bold;
}

.allpolls {
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 5px;
  font-weight: bold;
}

input[type=button] {
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
}

input[type=button]:hover {
  background-color: grey;
}

input[type=submit] {
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  color: black;
  background-color: #03FC96;
  width: 100%;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
}

input[type=submit]:hover {
  color: white;
  background-color: gray;
}

input[type=text] {
  font-family: 'Effra', Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

div[id="form"] {
    font-family: 'Effra', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: 2px black;
    background-color: white;
    padding: 20px;
}

label {
  font-size: 20px;
}
/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.choice {
  margin-top: 20px;
  margin-bottom: 20px;
}
#my-chart {
  width: 400px;
  height: 400px;
}
.hidden {
  display: none;
}
input, label {
  display: block;
}
h1 {
  font-size: 40px;
}
