<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <body>
    <div class="jumbotron">
      <h2><%= gettext "WELCOME TO %{name}!", name: "TWOCENTS!" %></h2>
      <p class="lead">A project that Mariko Sampaga<br />will be working on during her internship!</p>
    </div>

    <head>
      <input type="submit" value= "Create New Poll" class="btn btn-success"/>
      <div>
        <h4>Poll Question</h4></br>
        <input type="text" placeholder="Poll Title" onChange={this.handleChange} /></br>
        <input type="button" class="btn btn-info" value="Add Choice" onclick="addElement();"/>
        <input type="button" class="btn btn-warning" value="Remove" onclick="removeElement();" />
      </div>
      <h4>Choices</h4></br>
        <input type="text" placeholder="Choice Text" onChange={this.handleChange} /></br>
        <input type="text" placeholder="Choice Text"  onChange={this.handleChange} /></br>
      <div id="content"></div>
      <script>
      //Counter to maintain number of textboxes and give them unique id for later reference
         var intTextBox = 2;

      /**
      * Function to add textbox element dynamically
      * First we incrementing the counter and creating new div element with unique id
      * Then adding new textbox element to this div and finally appending this div to main content.
      */
        function addElement() {
            if(intTextBox >= 4){
              alert("Reached max number of choices.");
            }else{
            intTextBox++;
            var objNewDiv = document.createElement('div');
            objNewDiv.setAttribute('id', 'div_' + intTextBox);
            objNewDiv.innerHTML = '<input type="text" id="tb_" placeholder="Choice Text" onChange={this.handleChange}' + intTextBox + '"/></br>';
            document.getElementById('content').appendChild(objNewDiv);
          }
        }

      /**
      * Function to remove textbox element dynamically
      * check if counter is more than zero then remove the div element with the counter id and reduce the counter
      * if counter is zero then show alert as no existing textboxes are there
      */
        function removeElement() {
            if(2 < intTextBox) {
                document.getElementById('content').removeChild(document.getElementById('div_' + intTextBox));
                intTextBox--;
            } else {
                alert("Reached min number of choices.");
            }
        }
      </script>
    </head>
  </body>
</html>
