<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <body>
    <div class="jumbotron">
      <h2><%= gettext "WELCOME TO %{name}!", name: "TWOCENTS!" %></h2>
      <p class="lead">A project that Mariko Sampaga<br />will be working on during her internship!</p>
    </div>

    <head>
      <div id="root"></div>

      <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
     <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
     <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
     <script>

        const e = React.createElement;

        class NewPoll extends React.Component {
          constructor(props) {
             super(props);
             this.state = {value: ''};

             this.handleChange = this.handleChange.bind(this);
             this.handleSubmit = this.handleSubmit.bind(this);
           }

           handleChange(event){
             this.setState({value: event.target.value});
           }

           handleSubmit(event){
             var title = this.state.value;
             alert('A poll title was submitted: ' + title);
            event.preventDefault();
          }
          render(){
          return e(
            "div",
            null,
            React.createElement(
              "h1",
              null,
              "New Poll"
            ),
            React.createElement("input", { type: "submit" }),
            React.createElement(
              "div",
              { id: "poll_options" },
              React.createElement(
                "label",
                null,
                "Question"
              ),
              React.createElement("input", { type: "text", placeholder: "Poll Title" }),
              React.createElement(
                "div",
                { id: "room_fileds" },
                React.createElement(
                  "div",
                  null,
                  React.createElement(
                    "div",
                    { "class": "content" },
                    React.createElement("input", { type: "button", id: "more_fields", onclick: "add_fields();", value: "Add Option" }),
                    React.createElement(
                      "span",
                      null,
                      "Options ",
                      React.createElement("input", { type: "text", placeholder: "Option Title" }),
                      React.createElement("input", { type: "text", placeholder: "Option Title" })
                    )
                  )
                )
              )
            )
          );
             }
           }

          //=====================
          const domContainer = document.getElementById('root');
          ReactDOM.render(e(NewPoll), domContainer);

       var options = 2;
       function add_fields() {
         if(options < 4){
           options++;
           var objTo = document.getElementById('room_fileds')
           var divtest = document.createElement("div");
           divtest.innerHTML = '<div class="content"><span><input type="text" placeholder="Option Title" /></span></div>';
           objTo.appendChild(divtest)
         }
         else {
           document.getElementById("more_fields").style.visibility = "hidden";
            document.getElementById("more_fields").disabled=true;
         }
       }
       </script>
     </head>
   </body>
 </html>
